<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relevant StackOverflow</title>
    <!-- Load CSS Libraries -->
    <link rel="stylesheet" href="/static/libs/bulma-v0.8.0.min.css">
</head>

<body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <span class="icon"><i class="fab fa-stack-overflow"></i></span>
                    Relevant StackOverflow
                </h1>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="section">
            <div class="columns" id="questions">
                <div class="column" v-for="d in data">
                    <p class="panel-heading">
                        {{ d.title }}
                    </p>
                    <div>
                        <question-box v-for="question in d.questions" v-bind:question="question">
                        </question-box>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Relevant StackOverflow</strong> by <a href="https://brnomendes.github.io/">Bruno Mendes</a>. The
                source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
        </div>
    </footer>
</body>

<!-- Question Box Template -->
<script type="text/x-template" id="question-template">
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img v-bind:src="question.owner.profile_image" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ question.owner.display_name }}</strong>
                        <small>{{ question.creation_date | timeAgo }}</small>
                        <br>
                        <span v-html="question.title"></span>
                    </p>
                </div>
                <nav class="level is-mobile is-clipped">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field is-grouped is-grouped-multiline level-item">
                                <div class="control">
                                    <a v-bind:href="question.link" target="_blank">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">open</span>
                                            <span class="tag is-link">
                                                <span class="icon is-small">
                                                    <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="control">
                                    <expand-btn v-bind:question="question"></expand-btn>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-dark">score</span>
                                        <span class="tag is-danger">{{ question.score }}</span>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-dark">answers</span>
                                        <span class="tag is-info">{{ question.answer_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </article>
    </div>
</script>

<!-- Question Modal Template -->
<script type="text/x-template" id="expand-modal-template">
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="subtitle">
                    <span v-html="question.title"></span>
                </p>
            </header>
            <section class="modal-card-body">
                <post-content v-bind:post="question"></post-content>
                <post-content v-bind:post="answer" v-for="answer in answers">
                </post-content >
            </section>
            <footer class="modal-card-foot">
                <a class="button is-link" v-bind:href="question.link" target="_blank">
                    <span class="icon is-small">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>Open in new tab</span>
                </a>
                <a class="button is-primary" @click="$emit('unexpand')">
                    <span class="icon is-small">
                        <i class="fas fa-expand"></i>
                    </span>
                    <span>Close</span>
                </a>
            </footer>
        </div>
    </div>
</script>

<!-- Expand Question Button Template -->
<script type="text/x-template" id="expand-trigger-btn-template">
    <a @click="$emit('expand')">
        <div class="tags has-addons">
            <span class="tag is-dark">expand</span>
            <span class="tag is-primary">
                <span class="icon is-small">
                    <i class="fas fa-expand" aria-hidden="true"></i>
                </span>
            </span>
        </div>
    </a>
</script>

<!-- Modal-Button Group Question Template -->
<script type="text/x-template" id="expand-btn-template">
    <div>
        <expand-modal v-if="showModal" @unexpand="showModal = false" v-bind:question="question">
        </expand-modal>
        <expand-trigger-btn @expand="showModal = true"></expand-trigger-btn>
    </div>
</script>

<!-- Modal Post Template -->
<script type="text/x-template" id="post-template">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img v-bind:src="post.owner.profile_image" alt="Image">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ post.owner.display_name }}</strong>
                    <small>{{ post.creation_date | timeAgo }}</small>
                    <br><p v-html="post.body"><br>
                </p>
            </div>
        </div>
    </article>
</script>

<!-- Load JS Libraries -->
<script src="/static/libs/moment-v2.24.0.min.js"></script>
<script src="/static/libs/vue-v2.6.11.js"></script>
<script src="/static/libs/fontawesome-v5.12.0.min.js"></script>
<script src="/static/libs/axios-v0.19.2.min.js"></script>
<!-- Load JS Source Code -->
<script src="/static/app.js"></script>

</html>